doctype html
html
  head
    block scripts
    block style
  body
   nav#navbar
    ul
      li #[a(href="/") Home]
      li #[a(href="/about") About]
      li #[a(href="/tours") Our Tours]
      li #[a(href="/contact") Contact Us]
      li #[a(href="/gallery") Gallery]
  
  block content