doctype html
html
  head
      style
       include ../static/style.css

  body
    nav#navbar
     ul
      li #[a(href="/") Home]
      li #[a(href="About") About]
      li #[a(href="/Our Tours") Our Tours]
      li #[a(href="#contact.pug") Contact Us]
      li #[a(href="/Gallery") Gallery]
  
  section#intro
   .con ENJOY THE BEST DESTINATIONS WITH OUR TRAVEL AGENCY
   .c Explore The World
   .btn Get in touch

  section#mid
   .box 
    .co Mountain Tour
    img(src="./static/mountain.jpeg", alt="mounting")

   .box
     .co Surfing
     img(src="./static/photo.jpeg", alt="")
   .box 
     .co Beach Holiday
     img(src="./static/beach.jpeg", alt="")
   .box
     .co Hiking
     img(src="./static/hiking.jpeg", alt="")
  
  section#third
    img(src="./static/tr3.jpeg", alt="")
    .cont Discover New Horizons
     .ct Wonder Tour is committed to bringing our clients the best in value travel arrangement.We are passionate about travel and sharing the world's wonders with you
     .bt Get in touch 
  section#service 
    h3 Our Services
    .container
      .box1 Wide Variety of Tour
       .box-card
         .box-img
          img(src="/static/badge.jpg")
         .box-co We offer a wide variety of personally picked tours with   destination all over the globe.

      .box1 Highly Qualified Service
       .box-card
        .box-img
         img(src="/static/download.png")
        .box-co Our tour manager are qualified,skilled,and friendly to bring you the best service.
      .box1 24/7 Support
       .box-card
        .box-img
         img(src="/static/headphone.png")
        .box-co You can get professional support from our staff 24/7 and ask any question you have. 
      .box1 Handpicked Hotel
       .box-card
        .box-img
         img(src="/static/images.png")
        .box-co our tem offers only the best selection of affordable and luxury hotels to our clients.

  section#people
   h3 7 Years of Following The Dream
   .b
    .bx 12
     .ct International Awards
    .bx 500+
     .ct Happy Travelers
    .bx 42
     .ct Team members                 