extends base.pug

block scripts
  script(src='/static/index.js')

block style
  style
   include ../static/stylegallery.css  
   include ../static/styletour.css  
   include ../static/style.css  
block content
 section#st
    h2 Tours
    .hy HOME / OUR TOURS

 section#ss
   section.sst
    img(src="./static/mountain1.jpeg", alt="", srcset="")
    .hy Spain,Benidorm
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star
      .k Lorem ipsum dolor sit amet consectetur adipisicing elit. Est obcaecati blanditiis delectus incidunt, reprehenderit aperiam nostrum voluptates velit debitis nam corrupti facilis deleniti accusamus officiis vitae. Blanditiis, tempora earum?
      .bb Buy This Tour
   
   section.sst
    img(src="./static/bg2.jpeg", alt="", srcset="")
    .hy Mauritius Island,Africa
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star
      span.fa.fa-star
      .k Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores enim odit animi ex eveniet, nesciunt a placeat quia culpa praesentium, doloremque, ut nostrum. Recusandae sit fugiat esse beatae consequuntur!
      .bb Buy This Tour

   section.sst
    img(src="./static/dt1.jpeg", alt="", srcset="")
    .hy Mauritius Island,Africa
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star
      .k Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores enim odit animi ex eveniet, nesciunt a placeat quia culpa praesentium, doloremque, ut nostrum. Recusandae sit fugiat esse beatae consequuntur!
      .bb Buy This Tour

   section.sst
    img(src="./static/dt.jpeg", alt="", srcset="")
    .hy Eiffle Tour,France
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      span.fa.fa-star.checked
      .k Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores enim odit animi ex eveniet, nesciunt a placeat quia culpa praesentium, doloremque, ut nostrum. Recusandae sit fugiat esse beatae consequuntur!
      .bb Buy This Tour

